page-book {
    #touchlayer, #book {
      width: 100%;
      height: 100%;
    }

    #touchlayer{
        z-index: 999;
        position: absolute
    }

    #book {
        z-index: 0;

        div {
          margin: 0 auto;
          height: 98%;
        }
    }

    #book iframe {
        border: none;
    }

    .scroll-content {
        overflow-y: hidden;
    }

    ion-footer, ion-header {
        &.light, &.tan  {
            button {
                color: #000 !important;
            }
            ion-title .toolbar-title {
                color: #000 !important;
            }
        }
        &.dark, &.grey  {
            button {
                color: #fff !important;
            }
            ion-title .toolbar-title {
                color: #fff !important;
            }
        }
    }

}
